body{
  font-size: 18px; font-family: cursive; background: linear-gradient(60deg,#CA278C,#B96A9A,#ab5088,#cdb5cd,#ffe1ff);
  background:-moz-linear-gradient(60deg,#CA278C,#B96A9A,#ab5088,#cdb5cd,#ffe1ff);/* used for mozilla firefox*/
  background:-webkit-linear-gradient(60deg,#B96A9A,#FDE8D7,#ab5088,#cdb5cd,#ffe1ff);/*used for safari*/
  background:-o-linear-gradient(60deg,#CA278C,#B96A9A,#ab5088,#cdb5cd,#ffe1ff);/* used for opera*/
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 4%;
}
h1,h2,h3,h4,h5,h6,p{
  margin-top: 1%; margin-bottom: 1%;padding: 0%;
}
li{
  list-style: none;
}
a{
 text-decoration:none;
}
header{
  text-align: center; padding: 0%; color: #9932CC;
 
  margin-bottom: 0.5%;
}

 h2{
	color: Black; font-size: 50px;

}



.menubar ul{
	display:flex; flex-direction:row; flex-grow:1;  
	background: linear-gradient(to bottom right,#FFFFFF, #F5D5BC,#F9E3CB,#AD7460); 
	background: -moz-linear-gradient(to bottom right,#FFFFFF, #F5D5BC,#F9E3CB,#AD7460); /* used for mozilla firefox*/
	background: -webkit-linear-gradient(to bottom right,#FFFFFF, #F5D5BC,#F9E3CB,#AD7460); /* used for safari*/
	background: -o-linear-gradient(to bottom right,#FFFFFF, #F5D5BC,#F9E3CB,#AD7460); /* used for opera*/
	
}  
.menubar ul li {
	
	
    float:left;
	justify-content: Space-around;/*give space between block*/
	 margin: auto;
    width: 15%;
    
    padding: 2%;
}

.menubar ul li a {
    display: block; /*to display the elements in block*/
	padding: 10%;
    color:#88382D;
	background:#de9b69;
    border-radius:10%;
    padding: 11% ;
    text-decoration: none;
}


.menubar li a:hover {
	 border-radius: 10%;
    background: #ECC5A8	;
	color: #88382D;
    padding: 11%; 
	text-align: center;
   
   
}

section{
  background:#D889B8; display: flex;flex-direction: row ;text-align: center;
  justify-content: space-around; padding: 2%; margin-top: 0.5%; color: black;
}
.pic{
	
    margin: 5px;
	width: 20%;
	justify-content:space-around;
	float:left;
	
	
	
}

.pic img:hover {
    transform: rotate(200deg);/*rotate image 200deg*/
}
 .pic img {
    
	
	 border-radius: 10%;
	 transition:2s;
	
	transition: transform 2s;/*make transition last for 2s*/
	
	
}
.info{
	text-align:left;
	padding-left:1%;
}
.footer{
	text-align:left;/*align the text to the left*/
}


.social{
	opacity: 1.0;
    filter: alpha(opacity=75);
	padding-left: 2%;
}
	.social img {
		width:3%;
		height:6%;
		padding: 0%;
		 border-radius: 50%;
		 margin-left:0.5%;
}
	
.social img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
	
}
		
	
	Copyright p{
	text-align:right;
	margin:2%; color: white;
	}
	
@media all and (max-width: 600px){/*make the webpage mobile responsive*/
	header{
		flex-direction: column;text-align:center;
	}

	.menubar{
		width: 100%;
	}
.menubar ul{
	display: flex; flex-flow: column wrap;border-radius:10%;
}

.menubar ul li {
	 margin-left: 0px;
    width: 85%;
}

section{
	flex-direction: column;/*display the elements in a column*/
	width:100%;
margin-bottom: 4px;

}



footer{
	flex-direction: column;
}
.social{
	width: 100%;
	
text-align: center;
}

.social img {
		width:10%;
		height:6%;
		padding: 0%;
		 border-radius: 50%;
		 margin-left:0.5%;
}
}

