/*Name:Anishma Tuladhar
UN ID: 17429438*/
html {
    background:	#AFEAAA;
    background-size: cover;
}

body{
  font-size: 18px; font-family: cursive; 
  
  color: white;padding:1%;margin: 2%;
  font-size: 18px; font-family: cursive; 	
  background: linear-gradient(60deg, #41924B,#87E293,#7CCD7C);
  background: -moz-linear-gradient(60deg, #41924B,#87E293,#7CCD7C);/* used for mozilla firefox*/
  background: -webkit-linear-gradient(60deg, #41924B,#87E293,#7CCD7C);/* used for safari*/
  background: linear-gradient(60deg, #41924B,#87E293,#7CCD7C);/* used for opera*/
 
 
}
h1,h2,h3,h4,h5,h6,p{
  margin-top: 1%; margin-bottom: 1%;padding: 0%;
}
li{
  list-style: none;
}
a{
 text-decoration:none;
}
header{
  text-align: center; padding: 0%; color: white;
 
  margin-bottom: 0.5%;padding: 2%;
}
h2{
	font-size:50px;
}
 


.menubar ul{
	display:flex; flex-direction:row; flex-grow:1;font-size:20px;font-family:cursive;
	background: linear-gradient(to top left, #2C6700,#99CC99,#99CC99,#FFFFFF); 
	background: -moz-linear-gradient(to top left, #2C6700,#99CC99,#99CC99,#FFFFFF); /* used for mozilla firefox*/
	background: -webkit-linear-gradient(to top left, #2C6700,#99CC99,#99CC99,#FFFFFF); /* used for safari*/
	background: -o-linear-gradient(to top left, #2C6700,#99CC99,#99CC99,#FFFFFF); /* used for opera*/
}  



.menubar ul li {
    float:left;
	justify-content: Space-around;
	 margin: auto;
    width: 50%;
    
    padding: 10px;
	
	
}

.menubar ul li a {
    display: block;
	padding: 10%;
    color: #006400;
    
    padding: 20px 50px;
    text-decoration: none;
	
	
}


.menubar li a:hover {
	 border-radius: 10px;
   background: #00FFAA;
	color: #112513;
    padding: 20px; 
	text-align: center;
   
   
}



section{
	background:#6aaf6a;
	display:flex; flex-direction:row; padding:2%;justify-content: space-between; color:white;
	
}
.form{
	width:65%;
}
.form form fieldset legend{
  margin: 2%;
}
input[type=text], select {
    width: 95%;
    padding: 2% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1px;
    border-radius: 5px;

}
input[type=email], select {
    width: 95%;
    padding: 2% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1px ;
    border-radius: 5px;

}
input[type=contact], select {
    width: 95%;
    padding: 2% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1px;
    border-radius: 5px;

}
input[type=submit], select {
    width: 10%;
    padding: 2% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1px ;
    border-radius: 5px;

}
input[type=date], select {
    width: 95%;
    padding: 2% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1px ;
    border-radius: 10px;

  }
  textarea[name=feedback], select {
      width: 95%;
      padding: 2% 2%;
      margin: 1% 0;
      display: inline-block;
      border: 1px;
      border-radius: 4px;/*edges get trimmed */

    }


.me{
	width:35%;
	padding-right:1%;
	text-align:center;
	
}	

.me h2{
	
	font-size:30px;
}
.me p{
	color:	black;
	font-size:20px;
	
	
	
}
 
   

footer{
	margin-top:2%;
}


.social{
	opacity: 1.0;
    filter: alpha(opacity=75);/*makes the selected item a little obaque*/
	padding-left: 2%;
}
.social img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.social img {
		width:3%;
		height:6%;
		padding: 0%;
		 border-radius: 50%;/*disply the image in a circle*/
		 margin-left:0.5%;
}


.Copyright p{
	text-align:right;
	 color: white;
	
}

@media all and (max-width: 600px){
	header{
		flex-direction: column;text-align:center;
	}
.menubar{
	width:100%;
margin-bottom: 2px;

}
.menubar ul{
	display: flex; flex-flow: column wrap;border-radius:10%;
}

	
section{
	flex-direction: column;
	width:100%;
margin-bottom: 4px;

}

.form{
	
width: 100%;
}
.me img{
	margin-left: 65%;
}
input[type=submit]{
	width: 100%;/*width of send buton is 100%*/
}

footer{
	flex-direction: column;
}
.social{
	opacity: 1.0;
    filter: alpha(opacity=75);
	padding-left: 2%;
}
	

.social img {
		width:10%;
		height:6%;
		padding: 0%;
		 border-radius: 50%;
		 margin-left:0.5%;
}


	
	
.social img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
	
}
		
	
		 
	
	Copyright p{
	text-align:right;
	margin:2%; color: white;
	}
}
