html {
    background:	#8b7b8b;
    background-size: cover;
}

body{
  font-size: 18px; font-family: cursive; 
  
  color: white;padding:1%;margin: 2%;
 
}
h1,h2,h3,h4,h5,h6,p{
  margin-top: 1%; margin-bottom: 1%;padding: 0%;
}
li{
  list-style: none;
}
a{
 text-decoration:none;
}
header{
  text-align: center; padding: 0%; color: white;
 
  margin-bottom: 0.5%;padding: 2%;
}
h2{
	font-size:50px;
}
 


.menubar ul{
	display:flex; flex-direction:row; flex-grow:1;  background: linear-gradient(10deg,#D8BFD8,#9932CC);
}  
.menubar ul li {
    float:left;
	justify-content: Space-around;
	 margin: auto;
    width: 50%;
    
    padding: 10px;
	
	
}

.menubar ul li a {
    display: block;
	padding: 10%;
    color:  white;
    
    padding: 20px 50px;
    text-decoration: none;
	
	
}


.menubar li a:hover {
	 border-radius: 10%;
    background: #9370DB	;
	color: #88382D;
    padding: 20px; 
	text-align: center;
   
   
}



section{
	background:linear-gradient(30deg,purple,#9C8AA5,#732C7B,#BDAEC6);
	display:flex; flex-direction:row; padding:2%;justify-content: space-between; color:white;
	
}
.form{
	width:65%;
}
.form form fieldset legend{
  margin: 2%;
}
input[type=text], select {
    width: 95%;
    padding: 2% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1% solid ;
    border-radius: 5px;

}
input[type=email], select {
    width: 95%;
    padding: 2% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1% solid ;
    border-radius: 5px;

}
input[type=contact], select {
    width: 95%;
    padding: 2% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1% solid ;
    border-radius: 5px;

}
input[type=submit], select {
    width: 10%;
    padding: 2% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1% solid ;
    border-radius: 5px;

}
input[type=date], select {
    width: 95%;
    padding: 2% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1% solid ;
    border-radius: 10px;

  }
  textarea[name=feedback], select {
      width: 95%;
      padding: 2% 2%;
      margin: 1% 0;
      display: inline-block;
      border: 1% solid ;
      border-radius: 4px;

    }


.me{
	width:35%;
	padding-right:1%;
	text-align:center;
	
}	

.me h2{
	
	font-size:30px;
}
.me p{
	color:	#E6E6FA;
	font-size:20px;
	
	
	
}
 
   

footer{
	display:flex; flex-direction:row;
}

.social{
	opacity: 1.0;
    filter: alpha(opacity=75);
	padding-left: 2%;
}
.social img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.social img {
		width:3%;
		height:6%;
		padding: 0%;
		 border-radius: 50%;
		 margin-left:0.5%;
}
.Copyright p{
	text-align:right;
	margin:2%; color: black;
	
}


@media all and (max-width: 600px){
	header{
		flex-direction: column;text-align:center;
	}
.menubar{
	width:100%;
margin-bottom: 2px;

}
.menubar ul{
	display: flex; flex-flow: column wrap;border-radius:10%;
}

	
section{
	flex-direction: column;
	width:100%;
margin-bottom: 4px;

}



footer{
	flex-direction: column;
}
.social{
	width: 100%;
	
text-align: center;
}

.social img {
		width:10%;
		height:6%;
		padding: 0%;
		 border-radius: 50%;
		 margin-left:0.5%;
}
}

	
	
.social img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
	
}
		
	.social img{
		width:5%;
		height:5%;
		padding: 1%;
		 border-radius: 50%;
		 margin:left;
		
		 
	}
	Copyright p{
	text-align:right;
	margin:2%; color: white;
	}
}
