body{
	margin:1%; font-size: 18px; ;font-family:Times New Roman
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;padding: 0;
}
header{
	font-size: 50px;margin: 1px;padding: 1%;text-align: center;color:#6600CC;
	
}
section{
	display: flex; flex-direction: row; padding: 0%;
	margin:0%; font-size:30px; justify-content: space-around;
}
.menubar ul{
	display:flex; flex-direction:row; flex-grow:1;  background: linear-gradient(to bottom right,#FFFFFF, #732C7B); 
	
}  
.menubar ul li {
    float:left;
	justify-content: Space-around;
	 margin: auto;
    width: 50%;
    
    padding: 10px;
	
	
}

.menubar ul li a {
    display: block;
	padding: 10%;
    color:  white;
    
    padding: 20px 50px;
    text-decoration: none;
	
	
}


.menubar li a:hover {
	 border-radius: 10px;
    background: #C3C3E5;
	color: #6599FF;
    padding: 20px; 
	text-align: center;
   
   
}


.footer{
	text-align: right;
}

.social{
	
	display: flex; flex-direction:row;
	float: right;
  
	text-align=right;
	opacity: 1.0;
    filter: alpha(opacity=75);
    
	
    
	
}
	
	
.social img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
	
}
		
	.social img{
		width:5%;
		height:5%;
		padding: 1%;
		 border-radius: 50%;
		 margin:left;
		
		 
	}
	
	

html {
    background: url(clouds.jpg) no-repeat center fixed; 
    background-size: cover;
}

}