body{
	margin:1%; font-size: 18px; ;font-family:Times New Roman;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;padding: 0;
	
}

ul{
  list-style: none;
}
a{
 text-decoration:none;
}

header{
	font-size: 30px;margin: 1px;padding: 1%;text-align: center;color:#003399; font-family:cursive;
	
}

.menubar ul{
	display:flex; flex-direction:row; flex-grow:1;  background:linear-gradient(to bottom right,#FFFFFF, #66CCFF,#003399); opacity: 1.0;
    filter: alpha(opacity=75);
	
}  



.menubar ul li {
    float:left;
	justify-content: Space-around;
	 margin: auto;
    width: 50%;
    
    padding: 10px;
	
	
}

.menubar ul li a {
    display: block;
	padding: 10%;
    color:  #097054;
    
    padding: 20px 50px;
    text-decoration: none;
	
	
}


.menubar li a:hover {
	 border-radius: 10px;
    background: #C7AFBD;
	color: #FFFBD0;
    padding: 20px; 
	text-align: center;
   
   
}
section{
	display: flex; flex-direction: row; padding: 1%;
	margin:0%; font-size:30px; justify-content: space-around; flex-grow: 1;
	
}

.picture{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
   width:33.33333%;
	margin-left: 2%;
	 position: relative; 

}


.picture:hover {
    border: 1px solid #black;
}

.picture img {
	
	height:2s;
	background:2s;
	transition: transform 4s;
    
   
}
.picture img:hover{
	transform: rotateY(200deg);
	
}

.info {
    padding: 1%;
    text-align: center;
}



 article ul li a{
	 align:middle;
	color: Black;
	background-color: #79BEDB;
    border-radius: 50%;
    
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}
}

 article ul li:hover a{
	color: white;
}

 article ul li ul{display: none;}


 article ul li:hover ul{
    display: block;
	border-radius:15%;
	background: #DCDCDC;
	width:30%;
	

}




 footer{
	display:flex; flex-direction:column;
}

.social{
	opacity: 1.0;
    filter: alpha(opacity=75);
	padding-left: 2%;
}
.social img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.social img {
		width:3%;
		height:6%;
		padding: 0%;
		 border-radius: 50%;
		 margin-left:0.5%;
}
.Copyright p{
	text-align:right;
	margin:2%; color: white;
	
}

html {
    background: url(bb.jpg) no-repeat center fixed; 
    background-size: cover;
}

@media all and (max-width: 600px){
	header{
		flex-direction: column;text-align:center;
	}
.menubar{
	width:100%;
margin-bottom: 2px;
}
.menubar ul{
	display: flex; flex-flow: column wrap;border-radius:10%;
}

	

section{
	flex-direction: column;
	width:100%;
margin-bottom: 4px;

}
.pic{
	width: 50%;
	padding-bottom:4%;
}
.img{
	width: 50%;
	padding-bottom:4%;
}
.photo{
	width: 50;
	padding-bottom:4%;
}

footer{
	flex-direction: column;
}
.social{
	width: 100%;
	
text-align: center;
}

.social img {
		width:10%;
		height:6%;
		padding: 0%;
		 border-radius: 50%;
		 margin-left:0.5%;
}
}





